.header {
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("./img/netflix-background.jpg");*/
}

.header-logo {
    display: flex;
    line-height: 90px;
    margin: 0 0 0 2%;
    color: inherit;
}

img {
    color: inherit;
    width: 167px;
    height : 45px;
    vertical-align: middle;
}
.navbar {
    display: flex;
    justify-content: flex-end;
}
