
.navBar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 10px 20px 0;
    height: 25px;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    /*animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #110e0e;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__button {
    color: white;
    cursor: pointer;
    background-color: #e50914;
    line-height: normal;
    margin: 5px 0 0 10px;
    padding: 3px 12px;
    font-weight: 100;
    border: transparent;
    border-radius: 4px;
    font-size: 8px;
    text-decoration: crimson;
}

